<form class="entityForm">
<label>rev:</label>
<label class="value">{{_rev}}</label><br/>
<label>顧客名:</label>
<label class="value">{{name}}</label><br/>
<label>住所：</label>
<label class="value">{{address}}</label><br/>
<label>Webサイト：</label>
<a href="{{url}}" target="_blank">{{url}}</a><br/>

{{#people}}
<hr/>
<label>姓：</label>
<label class="value">{{lastName}}</label>
<label>名：</label>
<label class="value">{{firstName}}</label><br/>
<label>メールアドレス：</label>
<label class="value">{{mail}}</label>
<label>部課：</label>
<label class="value">{{department}}</label><br/>
<label>役職：</label>
<label class="value">{{title}}</label><br/>
{{/people}}

<hr/>
<ul>
{{#assignees}}
	<li>
		<a href="employees.html#{{name}}">{{name}}</a>
		<label>説明：</label>
		<label class="value">{{description}}</label><br/>
	</li>
{{/assignees}}
</ul>

</form>
<p>
	<a class="btn btn-primary" id="addTaskBtn">タスク追加 &raquo;</a>
	<a class="btn btn-primary" onclick="$(this).popover('hide'); editCustomer('{{_id}}');" id="editBtn">編集 &raquo;</a>
	<a class="btn btn-primary" data-toggle="modal" href="#deleteConfirm" id="deleteBtn">削除 &raquo;</a>
</p>

<div class="modal hide fade" id="deleteConfirm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{name}} を削除します、よろしいですか？</h3>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal" onclick="deleteCustomer('{{_id}}')">削除</a>
    <a href="#" class="btn" data-dismiss="modal">キャンセル</a>
  </div>
</div>

<script type="text/javascript">
    $('#addTaskBtn').popover({
    	title: "顧客へのタスクを作成します",
    	content: "営業マンが当顧客へ実行する必要があるタスクを追加します。未実装です。",
    	placement: "right"
    });
    $('#editBtn').popover({
    	title: "顧客情報を編集します",
    	content: "編集画面への遷移は別の<code>show</code>を利用しています。<code>shows/customer-edit.js</code>を参照してください。",
    	placement: "right"
    });
    $('#deleteBtn').popover({
    	title: "顧客情報を削除します",
    	content: "CouchDBの<code>update handler</code>を利用して顧客情報を削除します。<code>updates/customer.js</code>を参照してください。管理者権限を持っているユーザか、この顧客の担当になっているユーザしか削除できません。",
    	placement: "right"
    });
</script>
